* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {

  text-decoration: none;
}
.w {
    width: 1200px;
    margin: auto;
}
.header {
    height: 42px;
    background-color: pink;
    margin: 30px auto;
}
.logo {
    float: left;
    width: 195px;
    height: 42px;
    background-color:gray;
}
.nav {
    float: left;
    margin-left: 60px;
}
.nav ol li a {
    display: block;    
}
